body > div {
	width: 1000px;
	margin: auto;
}

@media print {
  @page { margin: 0; }
  body > div { 
  	width: auto;
  	margin: 0.6cm;
  }
}

body {
	-webkit-print-color-adjust: exact;
	font-family: 'Roboto', sans-serif;
	background-color: #eeeeee;
}

img {
	background-color: #ffffff;
	border: 1px solid #cccccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;
	margin-right: 10px;
	height: 200px;
	width: 200px;
}

header {
	display: flex;
	width: 100%;
}

header div {
	flex: 1;
	background-color: #2b5d82;
	color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	padding: 0px 20px;	
}

#content {
	display: flex;
	flex-direction: row;
}

header h1 {
	margin: 0;
}

header h2 {
	margin: 0;
	margin-bottom: 15px;
	color: #00ccff;
}

header p {
	margin: 0;
}

#main {
	flex: 1;
}

#main section {
	margin-top: 10px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;	
}

section h1 {
	color: #00ccff;
}

aside {
	margin-left: 10px;
}

aside section {
	margin-top: 10px;
	background-color: #2b5d82;
	color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;
	width: 200px;
}

footer {
	display: flex;
	width: 100%;
}

footer h2 {
	color: #00ccff;	
}

footer div {
	margin-right: 10px;
	flex: 1;
	margin-top: 10px;
	background-color: #2b5d82;
	color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;	
}

footer section {
	margin-top: 10px;
	background-color: #2b5d82;
	color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;
	width: 200px;
}

#jobs ul, #formation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#jobs li, #formation li {
	background: url("images/puce.png") no-repeat; 
	padding-left: 60px;
	padding-bottom: 15px;
	display: flex;
}

.mission {
	width: 100px;
}

.description {
	flex: 1;
	margin-left: 10px;
}

h1, h2 {
	text-transform: uppercase;
}


p.split {
	display: flex;
	margin: 0;
	padding: 0;
}

.left {
	flex: 1;
}

a {
	color: #ffffff;
	text-decoration: none;
}
